/*
 * Estilos de tu proyecto
 */
 h1 {
   color: black;
   font-size: 100px;
   text-align: center;
   margin-top: 70px;
 	background-color: #F7B617
 }

 h2 {
   color: black;
   font-size: 30px;
   text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
 }

 p {
   color: black;
   font-size: 70px;
   text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
   margin-top: 30px;
 }

 body {
   color: #000000;
   background: ;
   background-size:auto;
   font-family: 'Quattrocento Sans', sans-serif;
   margin: 0% 0%;
   padding: 0%;
   text-align: center;
 }

 header {
  background-color: #FFC90E;
  position: fixed;
  color: #000000;
  font-family: 'Quattrocento Sans', sans-serif;
  width: 100%;
  height: 80px;
}

.data-container {
  display: inline-block;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.text-center {
  text-align: center;
  line-height: 1.5;
font-family: 'Quattrocento Sans', sans-serif;
  background-color: white;
  height: 100px;
  font-size: 60px;
}
body {
  margin:  center;
  line-height: 1.5;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #ffffff;
}



a {
 color: #000000;
 font-size: 18px;
 text-decoration: none;
 height: 15px;
 font-family: 'Quattrocento Sans', sans-serif;

}

b {
 color: #000000;
 font-size: 30px;
 text-decoration: none;
 height: 10px;
 text-align: center;
}

.intro-text {
 color: #ffffff;
 text-align: center;
 font-size: 38px;
 text-decoration: none;
font-family: 'Quattrocento Sans', sans-serif;
}

.button {
 display: inline-block;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 color: #ffffff;
 background-color: yellow;
 border-bottom: 6px solid orange;
 border-radius: 6px;
 margin: 3px;
 width: 40px;
 font-weight: bolder;
}

.button:hover {
 color: #000000;
 background-color: #ffffff;
 cursor: pointer;
}

 .menu {
   position: fixed;
   font-size: 5px;
   text-align: left;
   display: inline-block;

 }

.logo {
  width: 20%;
  height: 40px;
   display:inline-block;
   margin-right:40%;
}

#track {
  width: 98%;
  height: 700px;
}
